:root,
:root:where(:lang(zh)),
:root:where(:lang(zh-CN)) {
  --vp-font-family-base: "FiraCode Nerd Font", "FiraCode Nerd Font Mono", "LXGW WenKai", sans-serif;
  --vp-font-family-mono: "FiraCode Nerd Font Mono", "FiraCode Nerd Font", "LXGW WenKai", monospace;
}

html,
body,
button,
input,
textarea,
select,
code,
kbd,
samp,
pre {
  font-family: "Lucida Handwriting", "LXGW WenKai", sans-serif !important;
}

.vp-doc a {
  text-decoration: none;
}

.vp-external-link-icon::after,
.vp-doc a[href*="//"]::after,
.vp-doc a[target="_blank"]::after {
  display: none;
}
